@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F6F6C9;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: #0a1931;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 90px;
	color: rgb(52, 19, 83);
	padding: 0px;
	margin: 10px;
	
}

.dark-mode h1 {
	color: #6B728E;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
	font-family: 'Courier New', monospace;
}

.note.new {
	background-color: #d8ecaa;
}

textarea {
	border: none;
	resize: none;
	background-color: #d8ecaa;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #B1AFFF;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #F2D388;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: #E0144C;
	
	padding: 5px;
	margin-bottom: 1.5em;
	border-color: #395144;
	border-radius: 10px;
	border-width: 2px;
	border: #0a1931;
}

.search input {
	border: none;
	background-color: #E0144C;
	width: 100%;
	border-color: #395144;
	border: #0a1931;
}

.search input:focus {
	outline: none;
	border-color: #395144;
	border-radius: 2px;
	border: #0a1931;
}
